# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo

# Environment / secrets
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
**/android/.gradle/
**/android/app/build/
**/android/build/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/

# VS Code
.vscode/

# Windows
Thumbs.db