fastapi==0.115.0
uvicorn==0.30.6

torch
transformers
sentence-transformers

spacy==3.8.7
nltk==3.9.1
keybert==0.8.5

beautifulsoup4==4.12.3
requests==2.32.3
newspaper3k==0.2.8
python-dotenv

google-generativeai==0.8.5

python-multipart==0.0.20